{% extends 'layout1.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Excluindo a alternativa Nº {{ object.id }}</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %} 
                <h6>Tem certeza que deseja excluir a alternativa abaixo?</h6>
                <p>{{ object.choice_text }}</p>
                <button type="submit" class="btn btn-danger">Confirmar</button>
                <a href="{% url 'question_edit' pk=object.question.id %}" class="link-secondary">Cancelar</a>
            </form>
        </div>
    </div>  
{% endblock %}
