{% extends 'layout1.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Lista de Pergunta</h5>
        </div>
        <div class="card-body">
            <a href="{% url 'poll_add' %}" class="btn btn-primary mb-3">
                Cadastrar Nova Pergunta
            </a>
            <ul>
                {% for question in questions %}
                <li>
                     <a href="{% url 'question_detail' pk=question.id %}" class="link-secondary">
                        {{ question.question_text }}
                    </a>
                </li> 
                {% empty %}
                    <span> Não há perguntas </span>
                {% endfor %}
            </ul>
        </div>
    </div>  
{% endblock %}